name: Build AppImage

on:
  push:
    branches: [ main ] # Build on pushes to main branch
    tags: [ "v*" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          set -eux
          sudo apt update
          sudo apt install -y \
            libfuse2 \
            wget \
            python3 \
            python3-pip

      - name: Download appimage-builder
        run: |
          set -eux
          wget https://github.com/AppImageCrafters/appimage-builder/releases/download/v1.2.0/appimage-builder-1.2.0-x86_64.AppImage
          chmod +x appimage-builder-1.2.0-x86_64.AppImage
          sudo mv appimage-builder-1.2.0-x86_64.AppImage /usr/local/bin/appimage-builder

      - name: Build AppImage
        env:
          APPIMAGE_EXTRACT_AND_RUN: 1
        run: |
          set -eux
          appimage-builder --recipe AppImageBuilder.yml

      - name: Upload AppImage artifact
        uses: actions/upload-artifact@v4
        with:
          name: Zaehlerstaende-AppImage
          path: |
            *.AppImage  
